<h1>Stupid Coach</h1>

<p><%= params[:question_coach] %></p>
<p>- You</p>

<% if params[:question_coach] == 'I am going to work' %>
  <p>Great !</p>
<%elsif params[:question_coach].include? '?'%>
  <p>Silly question, get dressed and go to work!</p>
<%else%>
  <p>I don't care, get dressed and go to work!</p>
<% end %>
<p>- Your coach</p>

<%= link_to "Ask a new question", ask_path %>
